/* Estilo general */
body {
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

/* Estilos del encabezado */
header {
  background-color: #0077b6;
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h2 {
  color: #005f73;
}

p {
  font-size: 1.1em;
}

/* Imagen */
img {
  width: 80%;
  max-width: 500px;
}

/* Botón */
button {
  background-color: #00b4d8;
  color: white;
  border: none;
  font-size: 1em;
}

/* Pie de página */
footer {
  background-color: #0077b6;
  color: white;
  padding: 10px 0;
  font-size: 0.9em;
}
