body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.bg-primary {
  background-color: #0077b6 !important;
}

.bg-secondary {
  background-color: #e0f7fa !important;
}

.btn-primary {
  background-color: #00b4d8 !important;
  border-color: #00b4d8 !important;
}

.btn-primary:hover {
  background-color: #0096c7 !important;
  border-color: #0096c7 !important;
}

.text-primary {
  color: #0077b6 !important;
}

.bg-dark {
  background-color: #0077b6 !important;
}
